<template name="Challenge">
  <div class="challenge">
    <h2>Challenge: {{title}}</h2>
    <hr>
    {{#markdown}}
      {{question}}
    {{/markdown}}
    <hr>
    {{#if isInRole 'student'}}
      {{#unless answered}}
      <form class="submit-answer">
        <div class="form-group">
          <label for="answer-input">Answer</label>
          <input type="text" class="form-control" name="answer" placeholder="Type your answer here" id="answer-input">
        </div>
        <input class="btn btn-primary" type=submit value="Submit">
        <a href="/" class="btn btn-danger">Cancel</a>
      </form>
      {{/unless}}
    {{else}}
      <a class="btn btn-primary" href="/admin/edit/{{_id}}">Edit</a>
      <a class="btn btn-danger pull-right" href="/">Cancel</a>
    {{/if}}
  </div>
</template>
