<template name="Register">
  <div class="register">
    <div class="container">
      <h1>Register</h1>
      <form class="register">
        <div class="form-group">
          <label for="user-input">User Name</label>
          <input type="text" class="form-control" id="user-input" name="regUser">
        </div>
        <div class="form-group">
          <label for="password-input">Password</label>
          <input type="password" class="form-control" id="password-input" name="regPassword">
        </div>
        <input class="btn btn-success" type="submit" value="Register">
      </form>
    </div>
  </div>
</template>
