<template name="MasterLayout">
  <div class="page-header">
    <div class="container">
      <h2>Iron District Cyber Camp</h2>
    </div>
  </div>
  <div class="container">
    {{#if currentUser}}
      {{#if isInRole 'admin'}}
        <div class="btn-group button-align" role="group">
          <button class="btn btn-link">{{#linkTo route="admin"}}Admin:{{/linkTo}}</button>
          <button class="btn btn-link">{{#linkTo route="home"}}Home{{/linkTo}}</button>
          <button class="btn btn-link">{{#linkTo route="createQuestion"}}Create{{/linkTo}}</button>
          <button class="btn btn-link">{{#linkTo route="register"}}Register{{/linkTo}}</button>
          <button class="btn btn-link logout">Logout</button>
        </div>
      {{else}}
        User:
        <div class="btn-group button-align" role="group">
          <button class="btn btn-link">{{#linkTo route="home"}}Home{{/linkTo}}</button>
          <button class="btn btn-link logout">Logout</button>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="container">
    <div class="app-header">
      {{#if currentUser}}
        {{> yield}}
      {{else}}
        {{> Login}}
      {{/if}}
    </div>
  </div>
</template>
