<template name="MasterLayout">
  <div class="page-header">
    <div class="container">
      <h2>Cyber Camp Challenge</h2>
      {{#if currentUser}}
        {{#if isInRole 'admin'}}
          <div class="btn-group button-align" role="group">
            <button class="btn btn-link">{{#linkTo route="home"}}Challenges{{/linkTo}}</button>
            <button class="btn btn-link">{{#linkTo route="admin"}}Scores{{/linkTo}}</button>
            <button class="btn btn-link">{{#linkTo route="createQuestion"}}Create{{/linkTo}}</button>
            <button class="btn btn-link">{{#linkTo route="register"}}Register{{/linkTo}}</button>
            <button class="btn btn-link logout">Logout</button>
          </div>
        {{else}}
          <div class="btn-group button-align" role="group">
            <button class="btn btn-link">{{#linkTo route="home"}}Challenges{{/linkTo}}</button>
            <button class="btn btn-link logout">Logout</button>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="container">
    <div class="app-header">
      {{#if currentUser}}
        {{> yield}}
      {{else}}
        {{> Login}}
      {{/if}}
    </div>
  </div>
</template>
