<template name="Groups">
  <div class="groups">
    {{#if isInRole 'admin'}}
      <h1>Team Generator</h1>
      <hr>
      <form>
        <div class="form-group">
          <label for="groups-input">Select number of Teams to generate</label>
          <select type="text" class="form-control" id="groups-input" name="groupsVar">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
          </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Generate">
        <a href="/admin" class="pull-right btn btn-danger">Cancel</a>
      </form>
    {{else}}
      {{> NotFound}}
    {{/if}}
  </div>
</template>
