<template name="Home">
  <div class="home">
    <h2>Challenges:
    {{#if isInRole 'admin'}}
      <span class="pull-right">
        <div class="badge">{{questionsTotal}}</div>
      </span>
      <hr>
    {{/if}}
    </h2>

    {{#if isInRole 'student'}}
      <p>Questions Completed: {{questionsDone}}/{{questionsTotal}}
        <span class="pull-right">Score: {{totalPoints}}</span>
      </p>
      <hr>
    {{/if}}

    {{#if areQuestions}}
      {{#each questions}}
        {{#unless answered}}
          <div class="list-group">
            <a href="/challenge/{{_id}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{title}}
                <span class="pull-right">+{{points}}</span>
              </h4>
            </a>
          </div>
        {{/unless}}
      {{/each}}
    {{else}}
      <div class="alert alert-warning">
        There are no challenges at this time.
      </div>
    {{/if}}
  </div>
</template>
